<div>
    <md-tabs md-center-tabs="false" md-dynamic-height="true">
        <md-tab ng-repeat="r in vm.routes" ui-sref="{{r.name}}" >
            <md-tab-label>
                <md-icon class="mdi" style="font-size: 18pt;"
                         ng-class="'mdi-' + r.settings.icon"
                         ng-show="r.settings.icon"
                         ></md-icon>
                <span>{{r.settings.displayName}}</span>
            </md-tab-label>
        </md-tab>
    </md-tabs>
    <div class="content-area">
        <ui-view></ui-view>
        <busy-indicator identifier="subnav"></busy-indicator>
    </div>
</div>
